**/node_modules
**/.next
**/dist
.git
**/.env
**/.env.*
**/.env.local
**/.env.*.local
**/.DS_Store
**/coverage
**/.turbo
**/*.tsbuildinfo
**/.eslintcache
**/npm-debug.log*
**/pnpm-debug.log*
**/venv
**/__pycache__
**/.pytest_cache
**/*.md
